/ac-comphist.dat
/auto-save-list
/bookmarks
/el-get
/elpa/archives/gnu/archive-contents
/tramp
*.elc
*~
/projectile-bookmarks.eld
/projectile.cache
/elpa/
/.mc-lists.el
/backups/
/url/
/eshell/
/.cask/
/ensime/
/recentf
/places
/.lsp-session-v1
